{% extends 'base.html.twig' %}
{% block body %}

	<div class="orders">
                    <div class="row">
                        <div class="col-xl-11">
                            <div class="card">
                            
                                <div class="card-body">
                                    <h4 class="box-title">Annonces </h4>
                                </div>
                                <div class="card-body--">
                                
                                    <div class="table-stats order-table ov-h">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                
                                                    <th>title</th>
                                               
                                                    <th>prix</th>
                                                    <th>Ville</th>
                                                    <th>Categorie</th>
                                                     <th>etat annonce</th>
                                                     <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for annonce in annonces %}
                                                <tr>
                                                    
                                                   
                                                    <td>  {{annonce.title}} </td>
                                                    <td>{{annonce.prix}}</td>
                                                    <td>{{annonce.villeId.nom}}</td>
                                                    <td>{{annonce.categorieId.nom}}</td>
                                                    {% if annonce.etatannonce == "Publique"  %}
                                                     <td class="greencolor"> {{annonce.etatannonce}}</td>
                                                    {% else %}
                                                     <td class="redcolor"> {{annonce.etatannonce}}</td>
                                                      {% endif %}
                                                    <td>

                                                   <a href="{{path('valider_annonce' , {id : annonce.id})}} class="btn btn-secondary">Valider</a>
                                                    </td>
                                                </tr>
                                              
                                              
                                                
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div> 
                                    <!-- /.table-stats -->
                                </div>
                                
                            </div> <!-- /.card -->
                        </div>  <!-- /.col-lg-8 -->

                       
                    </div>
                </div>
                {% endblock %}
